@model CEP;

@{
    ViewData["Title"] = "Home";
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<h3 class="center">Busque CEP de todo o Brasil</h3>
<p>
    Tem curiosidade de saber de qual lugar pertence algum CEP? Use nossa plataforma e descubra agora mesmo de onde ele pertence.<br />
    É simples, basta digitar o número no campo abaixo e clicar em "Buscar", simples assim.
</p>

<form method="GET" asp-controller="Home" asp-action="BuscarCep">
    <div class="form-group">
        <label for="cepNum" asp-for="Cep">Número do CEP</label>
        <div>
            <input type="number" asp-for="Cep" class="form-control" id="cepNum" placeholder="Insira o CEP desejado" name="Cep" style="">
            <span asp-validation-for="Cep" class="text-danger">@ViewData["Error"]</span>
        </div>
        <small id="emailHelp" class="form-text text-muted">Ex: 28960000, somente com números</small>
    </div>

    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

@if(Model != null && Model.Erro) {
    <div style="padding: 30px" class="text-danger">
        O cep digitado não existe em nossa base de dados.
        <br />
        Por favor, tente novamente com outro CEP.
    </div>
}

<section id="getCepResponse">
    <div class="row">
        <div class="col-12 col-md-12">
            <label for="">Número:</label>
            <input class="col-md-12 form-control" type="text" value="@(Model == null ? "" : Model.Cep)" readonly />           
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label for="">UF:</label>
            <input class="col-md-12 form-control" type="text" value="@(Model == null ? "" : Model.UF)" readonly />
        </div>
        <div class="col-4">
            <label for="">Localidade:</label>
            <input class="col-md-12 form-control" type="text" value="@(Model == null ? "" : Model.Localidade)" readonly />
        </div>
        <div class="col-4">
            <label for="">Bairro:</label>
            <input class="col-md-12 form-control" type="text" value="@(Model == null ? "" : Model.Bairro)" readonly /> 
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12">
            <label for="">Logradouro:</label>
            <input class="col-md-12 form-control" type="text" value="@(Model == null ? "" : Model.Logradouro)" readonly />
        </div>
    </div>
</section>